<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Façade-X Specifications</title>

  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  <script class="remove">
    var respecConfig = {
      specStatus: "unofficial",
      editors: [
        { name: "Luigi Asprino", company: "Università Telematica San Raffaele - Roma", companyURL: "https://www.uniroma5.it/", mailto: "luigi.asprino@uniroma5.it", orcid: "0000-0003-1907-0677", w3cid: 130089 },
        { name: "Enrico Daga", company: "The Open University", companyURL: "https://www.open.ac.uk/", mailto: "enrico.daga@open.ac.uk", orcid: "0000-0002-3184-5407", w3cid: 76898 },
      ],
      github: "w3c-facade-x/facade-x-specs",
      shortName: "facade-x",
      xref: "web-platform",
      group: "cg/facade-x",
      isPreview: true,
      license: "w3c-software-doc",
      latestVersion: "https://w3c-facade-x.github.io/facade-x-specs/",
    };
  </script>
</head>

<body>

  <h1 id="title">Façade-X Specifications</h1>
  <h2 id="subtitle">A minimalist metamodel for representing heterogeneous data formats in a unified way.</h2>

  <!-- BUILD:CONTENT -->

</body>

</html>
